<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties">
    </properties>
    <!-- 设置开始的加载时 一些设置 -->
    <settings>
        <!-- 日志 -->
        <!-- <setting name="logImpl" value="STDOUT_LOGGING"/> -->
        <setting name="logImpl" value="LOG4J"/>
        <!-- 打开延迟加载的开关 -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- 将积极加载改为消极加载，即延迟加载 -->
        <setting name="aggressiveLazyLoading" value="false"/>
        <!-- 缓存 -->
        <setting name="cacheEnabled" value="true"/>
    </settings>

 <!--   <typeAliases>
        &lt;!&ndash; 员工Model的别名 &ndash;&gt;
        <typeAlias type="com.java.staff.model.staffListModel" alias="staffListModel"/>
    </typeAliases>-->
</configuration>